<!DOCTYPE html>
<html lang="en">
<head> 
    <!-- Setting up device viewport and pixel scale etc -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For SEO it is really important to add descriptive, relevant, and high search volume phrases and words for your page title and description! -->
    <title>Portfolio</title>
    <meta name="description" content="Add Description Here">

    <!-- Links to CSS in cascading order for styling -->
    <link rel="stylesheet" href="../css/a_my_default.css">
    <link rel="stylesheet" href="../css/b_small_foundation.css">
    <link rel="stylesheet" href="../css/c_medium.css">
    <link rel="stylesheet" href="../css/d_large.css">

    <!-- Links to other resources -->
    <!-- <link rel="icon" type="image/png" href="path/to/favicon.png"> -->
    <script src="https://kit.fontawesome.com/8420ee9e5f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Connecting JS code to this html page and defering it's execution until after the elements of the page are build -->
    <script defer src="../js/index.js"></script>
    <script defer src="../js/template.js"></script>

</head>

<!-- For SEO it is really important to use proper html semantics and use descriptive, relevant, high seach volume key words to all elements starting with h1 heading and down. Even img alt tags and p text helps out but h1, h2, and down in order of importance for SEO -->
<body>
    <header>
        <div>
            <a href="/index.html"><img class="headerLogo" src="../images/final_logo_thin_150px.png" alt="logo"></a>
            <h2 class="actualH1">KoalaT Tech</h2>
        </div>
        <p class="navBTN">☰</p>
        <nav class="navigation">
            <p>X</p>
            <a href="../../index.html" class="homeBTN">Home</a>
            <a href="">Contact Me</a>
            <a href="">About KoalaT Tech</a>
            <a href="./portfolio.html">Development Portfolio</a>
            <div class="social_container">
                <a href="https://www.youtube.com/@koalat_tech/featured" target="_blank class="youtube"><i class="fa-brands fa-square-youtube"></i></a>
                <a href="https://www.youtube.com/@koalat_tech/featured" target="_blank class="instagram"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </nav>
    </header>
    <main class="portfolio">
        <div class="backgroundImage">
            <img class="BGSmall" src="../images/index-image386x680.png" alt="Background">
            <img class="BGMedium" src="../images/index-background800x680.png" alt="Background">
            <img class="BGLarge" src="../images/index-background1200x680.png" alt="Background">
        </div>
        <h1>Development Portfolio</h1>
        <div class="portfolioList">
            <a href="../../apps/koalat-weather/">KoalaT Weather</a>
            <a href="">KoalaT Chat</a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>