/* CSS precedence order from strongest to weakest: */
/* 1. Styles marked with the !important keyword take priority over all else. */
/* 2. Inline styles made using the style attribute take priority over all except for styles marked with !important keywords. */
/* 3. Targeting an element through an ID attribute "#" takes next priority. */
/* 4. Next in priority comes targeting an element through one of an elements class attributes ".". */
/* 5. Then comes tag selectors */
/* 6. Styles of the same precedence applied later take effect over styles applied earlier. */
/* Remember only apply styles to an element and not a class if you won't those styles to apply to all the elements accross the whole site as all pages will be connected to the same stylesheets!*/

/* Foundational small styles that set up all base styles for the whole website and designed first most for mobile devices. */
/* ---------------- Index Styles --------------- */
body{
    background-color: #fbeec1;
}
.index>img{
    width: 50px;
    position: fixed;
    top: 8px;
    left: 8px;
}
.index>h1{
    display: block;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    margin-top: 8px;
    color: #659dbd;
}
.index>form{
    display: flex;
    margin-top: 20px;
    margin-inline: auto;
}
.index>form>label{
    display: block;
    margin: 4px auto;
}
.index>form>label>input{
    width: 75vw;
    font-size: 20px;
    background-color: #659dbd;
    border: none;
    color: white;
}
.index>form>label>input::placeholder{
    color: white;
}
input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: white; /* Set the desired border color on focus */
  }